extends pug/layouts.pug

block link
  -var selected = 'Users';

block content
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          | User
          span.pull-right
              a.btn.btn-large.btn-primary(href="account/create")
                  i.fa.fa-pencil-square-o
                  |  Thêm tài khoản
        .panel-body
          .table-responsive
            table.table
              thead
                tr
                  th id
                  th Họ đệm
                  th Tên
                  th Tên tài khoản
                  th Chức vụ
                  th
              tbody
                +list-user(1, 'Nguyễn Văn', 'A', 'nguyenvana', 'Admin')
                +list-user(2, 'Nguyễn Văn', 'A', 'nguyenvana', 'User')
                +list-user(3, 'Nguyễn Văn', 'A', 'nguyenvana', 'User')
                +list-user(4, 'Nguyễn Văn', 'A', 'nguyenvana', 'User')
                +list-user(5, 'Nguyễn Văn', 'A', 'nguyenvana', 'Admin')
                +list-user(6, 'Nguyễn Văn', 'A', 'nguyenvana', 'User')
  // /.row

