extends pug/layouts.pug

block link
  -var selected = 'Devices';

block content
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Thêm endpoint
        .panel-body
          form(role='form')
            #inputs
              .form-group
                label(for='name') Tên thiết bị
                input#name.form-control(type='text', placeholder='Tên thiết bị')
              .form-group
                label(for='description') Mô tả
                textarea#description.form-control(rows='3', placeholder="Mô tả thiết bị")
              .form-group
                label(for='address') Địa chỉ
                input#address.form-control(type='text', placeholder='Địa chỉ')

            // /#input
            #actions
              input#submit.btn.btn-primary(type='submit', value='Tạo endpoint')
          // ./form
    // /.col
  // /.row


block scripts