extends pug/layouts

block link
  -var selected = 'Endpoints';

include pug/partials/breadcrumb/endpoints

block content
    .row
        .col-lg-12
          .panel.panel-default
            .panel-heading Endpoint
            .panel-body
              .canvas-wrapper
                canvas#myChart(height='200', width='600')
