extends pug/layouts

block link
  -var selected = 'Endpoints';

block content
    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading
                    | Endpoint
                    span.pull-right
                        a.btn.btn-large.btn-primary(href="endpoint/create")
                            i.fa.fa-pencil-square-o
                            |  Thêm thiết bị
                .panel-body
                    ul.list-unstyled.list-box
                        li
                            .list-content
                                h4
                                    a(href='#') Nhiệt kế
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                    | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                    | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                    | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            .list-footer
                                span.pull-left.buttons
                                    a.btn.btn-sm.btn-primary(href="endpoint/detail")
                                        i.fa.fa-eye
                                        |  Hiển thị chi tiết
                                    a.btn.btn-sm.btn-default(href="endpoint/edit")
                                        i.fa.fa-pencil-square-o
                                        |  Chỉnh sửa
                                span.pull-right
                                    p #1
                        li
                            .list-content
                                h4
                                    a(href='#') Tên thiết bị
                                p
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                    | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                    | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                    | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            .list-footer
                                span.pull-left.buttons
                                    a.btn.btn-sm.btn-primary(href="endpoint/detail")
                                        i.fa.fa-eye
                                        |  Hiển thị chi tiết
                                    a.btn.btn-sm.btn-default(href="endpoint/edit")
                                        i.fa.fa-pencil-square-o
                                        |  Chỉnh sửa
                                span.pull-right
                                    p #2
                    // /.list-box