extends pug/layouts

block link
  -var selected = 'Dashboard';

block content
    .row
      .col-lg-12
        ul.nav.nav-tabs
    
    #dashboard

    //- .row
    //-     .col-lg-12
    //-       .panel.panel-default
    //-         .panel-heading Device 1
    //-         .panel-body
    //-           .canvas-wrapper
    //-             <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    //- .row
    //-     .col-lg-12
    //-       .panel.panel-default
    //-         .panel-heading Device 2
    //-         .panel-body
    //-           .canvas-wrapper
    //-             canvas#myChart2.myChart(height='200', width='600')

    block scripts
      script(src="../public/javascript/ajax/menuDashboard.js")
      script(src="../public/javascript/hightcharts/highcharts.js")
      script(src="../public/javascript/hightcharts/exporting.js")
      
      script.

        var values = [];
        var times = [];
       
        function fetchValueByDeviceId(id) {
          var URI = "/core/api/v1/values/fetch/"+id;
          $.getJSON(URI, function(json) {
           
            json.Result.forEach((item) => {
              values.push(item.Value);
              var temp = new Date(item.Time);
              var timeFormated = temp.getDay() + "/" + temp.getMonth() + "/" + temp.getYear() + "-" + temp.getHours() + ":" + temp.getMinutes() + ":" + temp.getSeconds();
              times.push(timeFormated);
            });

                setTimeout(function(){
                 setData();
                  
                },0);
          });
        };
      
        //- alert(JSON.stringify(values));
        function setData(id){

          Highcharts.chart('container', {
              title: {
                  text: '',
                  x: -20 //center
              },
              xAxis: {
                  categories: times
              },
              yAxis: {
                  title: {
                      text: ''
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: ''
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: 'Device',
                  data: values
              }]
          });
        }
      