extends pug/layouts

block link
  -var selected = 'Dashboard';

block content
    .row
      .col-lg-12
        ul.nav.nav-tabs
          li.active
            a(href='#') Endpoint Name 1
          li
            a(href='#') Endpoint Name 2
          li
            a(href='#') Endpoint Name 3
          li
            a(href='#') Endpoint Name 4
          li
            a(href='#') Endpoint Name 4
    .row
        .col-lg-12
          .panel.panel-default
            .panel-heading Device 1
            .panel-body
              .canvas-wrapper
                canvas#myChart.myChart(height='200', width='600')
    .row
        .col-lg-12
          .panel.panel-default
            .panel-heading Device 2
            .panel-body
              .canvas-wrapper
                canvas#myChart.myChart(height='200', width='600')
