<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/login.css">
</head>

<body>
	<form id="login">
		<div class="logo">
			<img src="../public/images/logo.png" alt="">
		</div>
		<div id="inputs">
			<input id="username" type="text" placeholder="Tên tài khoản">
			<input id="password" type="text" placeholder="Mật khẩu">
		</div>
		<div id="actions">
			<input type="submit" id="submit" value="Đăng nhập">
		</div>
        <div class="footer">
            <p class="pull-left"><a href="#">Đăng ký</a></p>
            <p class="pull-right"><a href="#">Quên mật khẩu?</a></p>
        </div>

	</form>
</body>

</html>