<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
	<form id="login">
		<div class="logo">
			<img src="../public/images/logo.png" alt="">
		</div>
		<div id="inputs">
			<input id="username" type="text" placeholder="Username">
			<input id="password" type="text" placeholder="Password">
		</div>
		<div id="actions">
			<input type="submit" id="submit" value="Login">
		</div>
	</form>
</body>
</html>