doctype html
html(lang='en')
	head
		title #{title} | Environment Monitoring
		meta(charset='UTF-8')
		link(href='../public/images/favicon.ico', rel='icon')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='../public/css/login.css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese', rel='stylesheet')
	body
<<<<<<< HEAD
		form#login(action='/login', method='post')
=======
		form#login(actions='/login', method='post')
>>>>>>> 7f9a2b16a0bb609569bc666aa82e7b0459b3b336
			.logo
				a(href='/', title='Trang Chủ')
					img(src='../public/images/logo.png', alt='logo')
			#inputs
				input#username(type='text', name='username' placeholder='Tên tài khoản')
				input#password(type='password', name='password' placeholder='Mật khẩu')
			#actions
				input#submit(type='submit', value='Đăng nhập')
			.footer
				p.pull-left
					a(href='register') Đăng ký
				p.pull-right
					a(href='#') Quên mật khẩu?
