doctype html
html(lang='en')
  head
    title #{title} | Environment Monitoring
    meta(charset='UTF-8')
    link(href='../public/images/favicon.ico', rel='icon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(name='../public/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='../public/css/login.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese', rel='stylesheet')
  body
    form#register(action='/register', method='post')
      a.logo(href='/', title='Trang Chủ')
        img(src='../public/images/logo.png', alt='logo')
      p#error.alert.alert-danger #{error}
      #inputs
        .input
          label(for='lastName') Họ đệm
          input#lastName(type='text', placeholder='Họ đệm', name='lastname', required='')
        .input
          label(for='firstName') Tên
          input#firstName(type='text', placeholder='Tên', required='', name='firstname')
        .input
          label(for='username') Tên tài khoản
          input#username(pattern='.{6,16}', type='text', placeholder='Tên tài khoản', required='', name='username')
        .input
          label(for='password') Mật khẩu
          input#password(type='password', placeholder='Mật khẩu', required='', name='password')
        .input
          label(for='password-repeat') Nhập lại mật khẩu
          input#password-repeat(type='password', placeholder='Nhập lại mật khẩu', required='', name='repeat')
          span#message
      #actions
        input#submit.disabled(type='submit', value='Đăng Ký')

    script(src="../public/javascript/jquery-2.2.4.min.js")
    script.
      $( document ).ready(function() {
        $('#password-repeat').on('keyup', function() {
            if ($(this).val() == $('#password').val()) {
                $('#message').html('Mật khẩu khớp').css('color', 'green');
                $('#submit').removeClass('disabled');
            } else {
              $('#submit').addClass('disabled');
              $('#message').html('Mật khẩu nhập lại không khớp').css('color', 'red');
            }
        });
      });