<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng Ký</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/login.css">
</head>

<body>
	<form id="login">
		<div class="logo">
			<img src="../public/images/logo.png" alt="">
		</div>
		<div id="inputs">
            <div class="input">
                <label for="lastName">Họ đệm</label>
                <input id="lastName" type="text" placeholder="Họ đệm">
            </div>
            <div class="input">
                <label for="firstName">Tên</label>
                <input id="firstName" type="text" placeholder="Tên" required>
            </div>
            <div class="input">
                <label for="username">Tên tài khoản</label>
                <input id="username" type="text" placeholder="Tên tài khoản" required>
            </div>
            <!--<div class="input">
                <label for="email">Địa chỉ Email</label>
                <input id="email" type="email" placeholder="example@email.com" required>
            </div>-->
			<div class="input">
                <label for="password">Mật khẩu</label>
                <input id="password" type="password" placeholder="Mật khẩu" required>
            </div>
			<div class="input">
                <label for="password-repeat">Nhập lại mật khẩu</label>
                <input id="password-repeat" type="password" placeholder="Nhập lại mật khẩu" required>
            </div>
		</div>
		<div id="actions">
			<input type="submit" id="submit" value="Đăng Ký">
		</div>
	</form>

    <script>

        // check password

        var password = document.getElementById("password")
        , confirm_password = document.getElementById("password-repeat");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Mật khẩu không trùng khớp");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>

</html>