include mixins.pug

doctype html
html(lang='en')
  head
    title #{title} | Environment Monitoring
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='../public/images/favicon.ico', rel='icon')
    link(href='../public/css/bootstrap.min.css', rel='stylesheet')
    link(href='../public/css/styles.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=vietnamese', rel='stylesheet')
    link(href='../public/css/font-awesome.min.css', rel=' stylesheet')
  body

    block link
        -var selected = 'dashboard'; //default
    -var menu = { 'Dashboard': '/', 'Endpoints': '/endpoint', 'Devices': '/device', 'Users': '/account' };

    include partials/nav.pug

    include partials/sidebar.pug

    .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
        .row
            ol.breadcrumb
                li
                    a(href='#')
                        i.fa.fa-home(aria-hidden='true')
                li.active #{title}
        .row
            .col-lg-12
                h1.page-header #{title}

        block content


    include partials/footer.pug
    block scripts