nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                span.hidden-xs Environment Monitoring
                span.hidden-sm.hidden-md.hidden-lg EMS
                | Admin
            ul.user-menu 
                li.dropdown.pull-right 
                    a.dropdown-toggle(href='#', data-toggle='dropdown') 
                        | #{username} 
                        span.caret 
                    ul.dropdown-menu(role='menu') 
                        li 
                            a(href='/account/detail') 
                                i.fa.fa-user(aria-hidden='true')
                                | Tài khoản 
                        li 
                            a(href='#') 
                                i.fa.fa-cog(aria-hidden='true')
                                | Cài đặt 
                        li 
                            a(href='/logout') 
                                i.fa.fa-sign-out(aria-hidden='true')
                                | Đăng xuất