-var sideBar = { 'Dashboard': '/', 'Endpoints': '/endpoint', 'Devices': '/device', 'Users': '/account' };
#sidebar-collapse.col-sm-3.col-lg-2.sidebar
    form(role='search')
        .form-group
            input.form-control(type='text', placeholder='Search')
    ul.nav.menu
        each val, key in sideBar
            if selected === key
                li.active
                    a(href=val, title=key)
                        i.fa.fa-circle(aria-hidden='true')
                        = key
            else
                li
                    a(href=val, title=key)
                        i.fa.fa-circle-thin(aria-hidden='true')
                        = key
        li.divider(role='presentation')
        li
            p User
        li
            a(href='/account/detail', title="Tài khoản")
                i.fa.fa-user(aria-hidden='true')
                | Tài khoản
        li
            a(href='#', title="settings")
                i.fa.fa-cog(aria-hidden='true')
                | Cài đặt
        li.divider(role='presentation')
        li
            a(href='/logout')
                i.fa.fa-sign-out(aria-hidden='true')
                | Đăng xuất